body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-color: #131212;
}

header {
  padding-top: 4%;
}

article {
  text-align: center;
}

footer {
  margin-top: 20%;
  text-align: center;
  height: 400px;
}

.user {
  position: absolute;
  right: 3%;
  bottom: 15%;
  background-color:#432d8d;
  height: 66%;
  width: 19%;
  border-radius: 58px;
  box-shadow: 0px 1px 4px #FF1ACB;

}

.user img {
  position: relative;
  height: 120px;
  margin-top: 10%;
  border-radius: 100px;
  left: 30%;
  color: white;
  box-shadow: 0px 1px 4px #FF1ACB;
}

.user h3 {
  color: white;
  margin-left: 35%;
  margin-top: 2%;
  text-shadow: 0px 1px 4px #FF1ACB;
}

a {
  text-decoration: none;
}

.btn {
  position: absolute;
  right: 10%;
  bottom: 17%;
  display: flex;
  flex-direction: column;
}

.btn a{
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px 4px #FF1ACB;
}

.btn img {
  position: absolute;
  height: 8%;
  display: flex;
  flex-direction: column;
}

.btn button {
  height: 40px;
  width: 150%;
  margin-top: 5%;
  cursor: pointer;
  border-radius: 10px;
  background-color: #1ea9cb;
  box-shadow: 0px 1px 4px #FF1ACB;
}


.conf  {
  position: absolute;
  right: 35%;
  top: 27%;
  height: 4%;
  width: 6%;
  color: black;
  border: 1px solid #FF1ACB;
  background-color: white;
  border-radius: 100px;
  cursor: pointer;
}

.conf i  {
  position: relative;
  top:3%;
  left: 7%;
}

.conf:hover {
 background-color: #1DC0E7;
}

#sair{
  height: 30px;
  width: 70%;
  position: relative;
  left: 35%;
  cursor: pointer;
  font-weight: bold;
  color: white;
  text-shadow: 0px 1px 4px #FF1ACB;
}

.logo {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  border-radius: 36px;
  border: 2px solid #FF1ACB;
}

.pesquisar{
  display: flex;
  justify-content: center;
  margin-top: 3%;
  color: white;
}

.pesquisar i {
  text-align: center;
  position: relative;
  left: 32%;
  top: 8px;
  text-shadow: 0px 4px 4px #FF1ACB;

}

.pesquisar input {
  height: 30px;
  width: 500px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #432d8d;
  box-shadow: 0px 2px 4px #FF1ACB;

}

input::placeholder, input[type="text"] {
  font-size: 15px;
  color: white;
  text-shadow: 0px 2px 4px #FF1ACB;
}

.dropdown button {
  color: white;
  text-align: center;
  margin-left: 45%;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #432d8d;
  text-shadow: 0px 2px 4px #FF1ACB;
  box-shadow: 0px 2px 4px #FF1ACB;
}

.dropdown button:hover{
  background-color: #00A4bd;
}

.dropdown p {
  position: relative;
  display: inline-block;
  bottom: 2px;
  text-align: center;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position:relative;
  width: 100px;
  margin-left: 43%;
  margin-top: 1%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  background-color: #4d3c84;
  font-size: 15px;
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
  width: 200%;
  padding: 5%;
  border-radius: 6px;
  margin-bottom: 4%;
  box-shadow: 0px 2px 4px #FF1ACB;
  text-shadow: 0px 2px 4px #FF1ACB;
}

.dropdown-content a:hover {
  color: white;
  background-color: #00A4bd;
  font-size: 120%;
}

.dropdown img {
  height: 30px;
  width: 25%;
  float: left;
  margin: 5%;
}

.categoria {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7%;
  font-size: 20px;

}

.categoria a {
  background-color: white;
  display: inline-block;
  margin-right: 70px;
  color: inherit;
  text-decoration: none;
  padding: 20px;
  width: 80px;
  border-radius:20px;
  margin-bottom: 200px;
}

#pc, #sony, #microsoft, #nintendo {
  box-shadow: 0px 2px 4px #FF1ACB;
  text-shadow: 0px 1px 4px #FF1ACB;
}

#pc {
  background-color: white;
}
#sony {
  background-color: #00A4bd;
}
#microsoft {
  background-color:green; 
  width: 6%;
}

#nintendo {
  color: red;
  background-color:white;
}

.lns {
  background-color: #432d8d;
  margin-right: 150px;
  margin-left: 200px;
  margin-bottom: 15%;
  box-shadow: 0px 4px 4px #FF1ACB;
  
}
.lns img {
  height: 450px;
  margin-top: 1%;
  box-shadow: 0px 4px 4px #FF1ACB;
}
.lns a {
  text-decoration: none;

}
.lns p {
  position: relative;
  font-size: 29px;
  color: white;
  bottom: 30px;
}

.container{
  display: flex;
}
.desconto {
  background-color: #432d8d;
  position: relative;
  margin-right: 250px;
  margin-left: 50px;
  margin-bottom: 250px;
  box-shadow: 0px 4px 4px #FF1ACB;
}

.desconto img {
  height: 500px;
  margin: 11px;
  box-shadow: 0px 4px 4px #FF1ACB;
}
.desconto h2, h4{
  color: white;
}

.desconto h1 {
  color: yellowgreen;
}

.catalogo {
  background-color: #432d8d;
  position: relative;
  right: 200px;
  margin-bottom: 250px;
  text-align: center;
  box-shadow: 0px 4px 4px #FF1ACB;
}

.catalogo a{
  position: relative;
  top: 25px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.catalogo img {
  height: 500px;
  margin-left: 10px;
  margin-right:10px;
  margin-top: 10px;
  box-shadow: 0px 4px 4px #FF1ACB;
}

.arkham {
  margin-top:-150px;
  margin-left: 150px;  
  margin-right: 150px;
  height: 480px;
  background-color: #432d8d;
  box-shadow: 0px 4px 4px #FF1ACB;
}

.arkham img{
 height: 350px;
 width: 98%;
 margin-top: 10px;
 box-shadow: 0px 4px 4px #FF1ACB;
}

.arkham a {
  text-decoration: none;
  color: white;
}

.text {
  color: white;
  position: absolute;
  margin-top: 7%;
  margin-left: 30%;
  letter-spacing: 2px;
  line-height: 40px;
  text-shadow: 0px 1px 4px #FF1ACB;
}